# Ignore the downloaded GPT-2 model directory
gpt2-offline/

# Ignore large ONNX model files
*.onnx

# Ignore TensorFlow and PyTorch model weight files
*.tflite
*.h5
*.pt
*.bin

# Ignore unnecessary Hugging Face cache
~/.cache/huggingface/
