# Ignore the downloaded GPT-2 model directory
gpt2-offline/
build/
LLaMA/
headers/tinyllama.gguf

# Ignore large ONNX model files
*.onnx
*.google-cookie

# Ignore TensorFlow and PyTorch model weight files
*.tflite
*.h5
*.pt
*.bin

# Ignore unnecessary Hugging Face cache
~/.cache/huggingface/
